# Resend: https://resend.com/api-keys
RESEND_API_KEY=re_xxxxxxxx

# Remetente verificado no Resend (dominio ou onboarding@resend.dev em testes)
# Ex.: "Antéro Sistemas <contato@anterosistemas.com.br>"
MAIL_FROM=Antéro Sistemas <contato@anterosistemas.com.br>

# Caixa que recebe os envios do formulario
MAIL_TO=contato@anterosistemas.com.br
